@import './components/costumer';
@import './components/footer';
@import './general_base/extends';
@import './general_base/maps';
@import './general_base/extends';
@import './components/nav';
@import './components/servicio';
@import './components/contact';
@import './general_base/mixin';
@import './components/menu';
@import './components/blog';
@import "./components/main";