$body:(
    colorback: #B7B5A9,
    colorfront: #C93205,
    background-color: #8E8E8E,
    colorletter: #0E1944,
    colorbody: #1D1D1D,
    colorsection:#FF530A,
    colorshodow: #f3f3f3,
    service:#ffa500,
    contact:#149314,
    blog:#2950c5,
    colorbasic: #000000,

)




