.bg-blog {
    @extend %position;
    height: 30vh;
        h1 {
            font-size: 4em;
            color: map-get($body, colorshodow);
        }
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
.linea-subtitle {
    width: 26em;
    font-size: 2em;
    text-align: center;
    color: map-get($body, colorshodow);
    white-space: nowrap;
    overflow: hidden;
        }
.subtitle {
    animation: texto 5s;
    animation-iteration-count: infinite;
        }
@keyframes texto {
    from {
        width: 0;
        border-right-color: rgba(255, 255, 255, .75);
        }
    to {
        width: 28em;
        border-right-color: transparent;
        }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
        height: 20vh;
            h1 {
                font-size: 2em;
                color: map-get($body, colorshodow);
            }
            p {
                display: none;
            }
        }
}

.box-carousel {
    height: 80vh;
.card-text {
    @extend %position;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
    color: map-get($body, colorshodowd);
        }
.image {
    img{
        width: 40vw;
        height: 40vh;
        border-radius: 5%;
            }
        }
@media only screen and (min-width: 320px) and (max-width: 768px) {
    height: 100vh;
.image
    img{
        width: 100%;
        border-radius: 5%;
        }
}
}



