.box-costumer {
    height: 100%;
    margin: 2em auto;
        h3{
            font-size: 3rem;
            text-align: center;
    }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 2rem auto;
            padding: 2rem;
    }
        li {
            list-style: none;
            margin: 0 auto;
        img {
            width: 60%;
            border-radius: 30%;
        }
    }
@media only screen and (min-width: 320px) and (max-width: 959px) {
    display:none;
}
}
