@import './costumer';
@import './footer';
body{
    font-family: roboto,sans-serif;
    }
// MARCA DE AGUA DEL HOST
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
    //
}
main{
    font-family: roboto,sans-serif;
    .box-agencia {
        @extend %position;
        background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
        height: 30vh;
        width:100%;
        padding: 2em;
        h2 {
            font-size: 3.5em;
            color: map-get($body, colorshodow);
        }
        p {
            color: map-get($body, colorshodow);
            font-size: 1.5em;
        }
@media only screen and (min-width: 320px) and (max-width: 768px) {
        height: 15vh;
            h2 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
@media only screen and (min-width: 768px) and (max-width: 959px) {
    height: 100vh;
}
}
.about {
    @extend %imgposition;

        .box-information {
            text-align: center;
            width: 50%;
            color: map-get($body, colorbody);
            padding: 2em;
            font-size: 1.5em;
        }
        .picture {
            padding: 2em;
            width: 50%;
            .box-img-agency {
                background-image: linear-gradient(60deg, #29323c 80%, #485563 100%);
                margin: 5rem;
                img {
                    width: 75%;
            }
            }
        }
@media only screen and (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
        .box-information {
            font-size: 1em;
            width: 100%;
            padding: .6em;
                p {
                    font-size: .6em;
            }
        }
    }
@media only screen and (min-width: 768px) and (max-width: 959px){
    @extend %imgposition;
    width: 100%;
    font-size: 1.5em ;
        .box-information {
            text-align: center;
            width: 100%;
            color: map-get($body, colorbody);
            padding: 2em;
        }
}
}
.aboutservice{
    @extend %twoposition;
        width: 100%;
}
.box-items {
    background-image: linear-gradient(60deg, #29323c 80%, #485563 100%);
    display: flex;
    align-items: baseline;
    padding: 2rem;
        .item {
            color: map-get($body, colorback);
            text-align: center;
            width: 80%;
            &:hover {
                transform: scale(.4);
                transition: 4s ease-in-out;
            }
                img {
                    width: 30%;
                    border-radius: 30%;
            }
        }
@media only screen and (min-width: 320px) and (max-width: 768px) {
            flex-direction: column;
            width: 100%;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            h5 {
                font-size: 2em;
            }
                .item {
                    font-size: .8em;
                    width: 100%;
                    img {
                        width: 30%;
                    }
        }
    }
}
.box-opinion {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    @extend %twoposition;
    padding: 2em;
    h3 {
        font-size: 2em;
    }
        .card-text{
            text-align: center;
            margin: 1rem;
            width:20%;
            height: 60vh;
                img{
                    width:40%;
                    border-radius: 50%;
                    border: 1px solid blue;
                }
        }
@media only screen and (min-width: 320px) and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            color: map-get($body,colorshodow);
            .card-text{
                font-size: .8em;
                width:80%;
                margin: .2rem;
                height: 30%;
                img{
                    width:30%;
                    border-radius: 50%;
                    border: 1px solid blue;
                }
            }
            
    }
}




